*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    font-family: "Comfortaa", sans-serif;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav{
    margin-right: 10px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #386e61;
    box-shadow: 3px 3px 3px rgb(146, 145, 145);
}
.left-selection{
    display: flex;
    align-items: center;
}
.left-selection img{
    padding: 5px;
    margin-left: 5px;
}
.left-selection a{
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
nav a:hover{
    background-color: rgb(39, 82, 57);
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #386e61;
    box-shadow: -10px 0 10px rgb(146, 145, 145);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 50ms ease-out;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.menu-button:hover{
    background-color: rgb(39, 82, 57);
}

.navigation{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}
.navigation a{
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
}
footer{
    position: sticky;
    top: 100%;
    height: 50px;
    background-color: #386e61;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    color: white;
}

.cham-ngon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chamngon{
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    text-align: end;
    max-width: 850px;
    margin: 20px;
}
.banner{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 17px;
    font-weight: 550;
    background-color: #386e61;
    color: white;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-wrapper{
    padding: 10px 20%;
}
.image-wrapper img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-items: center;
}
.music-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.music-wrapper audio{
    margin: 10px;
    color: #386e61;
}
.video-wrapper{
    padding: 10px 19%;
}
.video-wrapper video{
    display: block;
    text-align: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
}

.heading{
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.option-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 33.33%;
}
.option-bar .option{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.option-bar .image-detail{
    margin: 5px;
    max-width: 60px;
}
.option-bar .option-bar{
    margin: 0 auto;
    width: 200px;
    height: 60px;
}
.option-bar .detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 100px;
}
.option-bar .option .image-detail img{
    width: 100%;
    margin: 0 auto;
}
.option .detail a{
    text-decoration: none;
    color: black;
}
.option-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.option-button .button button{
    border: 1px solid;
    background-color: #386e61;
    height: 30px;
    margin: 10px;
    border-radius: 15px;
    width: 170px;
}
.option-button .button button a{
    color: white;
    text-decoration: none;
    
    width: 100%;
    height: 10px;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
    
}
.wrapper{
    padding: 15px 15%;
}
.card-area{
    padding: 30px 0;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
    
}
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.overlay a{
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 50%;
}
.article-area{
    display: grid;
    place-items: center;
}
.row{
    width: 90%;
    max-width: 1155px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px 10px;
    padding: 10px;
}
.row .left{
    overflow: hidden;
    padding: 10px 40px 10px 40px;
}
.row .left img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;
}
.row .right{
    display: flex;
    align-items: start;
}
.row .right .content{
    padding: 5px;
}
.row .right .content p{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: justify;
    font-weight: 700;
}
.row .right .content h3{
    font-size: 17px;
    line-height: 24px;
    padding: 20 0 20px 0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
}
.row .right .content a{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    width: 100%;
}
.row .right .content:hover a{
    background-color: rgb(104, 104, 219);
    color: white;
}
.row .right .content:active a{
    background-color: green;
}

.game-wrapper {
    padding: 10px 20%;
}
.game-wrapper embed{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
#dataTable{
    padding: 10px 10%;
    overflow-x: auto;
    font-family: "Noto Sans", sans-serif;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 10px;;
    margin-bottom: 10px;
    overflow-x: hidden;
}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: left;
    color: black;
}
#dateTable td svg{
    padding-right: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.container .video-player video{
    width: 100%;
    height: auto;
    border-radius: 5px;

}
.container .video-player #video-title{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
.container .video-player #video-description{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.video-player {
    flex: 3;
    padding: 5px;
}
.playlist {
    flex: 1;
}
.container .playlist{
    border: 1px solid;
    border-radius: 8px;
    margin:  5px 10px 5px 10px;
    padding: 0 10px 0 10px;
    height: 830px;
    overflow-y: auto;
}
.container .playlist h4{
    padding: 10px 5px 5px 10px;
    margin: 0 0 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.playlist-item {
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.playlist-item:hover{
    background: #f0ebeb;
}
.playlist-item:active{
    background: #c5c3c3;
}
.playlist-item::after{
    background: #c5c3c3;
}
.playlist-item .title{
    padding: 30px;
    margin-left: 20px;
}
.playlist-item img {
    width: 160px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
    .playlist {
        order: 1;
    }
}
@media(max-width:750px){
    .row{
        width: 85%;
        grid-template-columns: 1fr;
    }
    .row .left{
        padding: 10px 40px 10px 40px;
    };
    .table-wrapper{
        width: 90%;
    }
    
}
@media(max-width:799px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .sidebar{
        transition: 200ms ease-out;
    }
    .row .right .content{
        padding-left: 0;
    }
}
@media(max-width:413px){
    .sidebar{
        width: 100%;
    }
    #dataTable{
        width: 100%;
        padding: 10px;
    }
    
}
@media(max-width:1520px){
    .video-wrapper{
        padding: 10px 10%;
    }
    .image-wrapper{
        padding: 10px 10%;
    }
    .video-container .main-video .video-js{
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }
}
@media(max-width:768px){
    .video-wrapper{
        padding: 10px;
    }
    .image-wrapper {
        padding: 10px;
    }
}