*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;

}
.main{
    flex: 3;
    border: 2px solid #000;
    width: auto;
    border-radius: 10px;
    margin-right: 5px;
}
.playlist{
    flex: 1;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0 10px 5px;
}
.playlist > hr{
    border: 1.5px solid #000;
    margin: 0 20px
}
.playlist > .playlist-title{
    padding: 10px;
    border-radius: 8px 8px 0 0;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px;
}
.playlist > .playlist-video{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.playlist > .playlist-video:hover{
    background-color: #cccccc;
}
.playlist > .playlist-video > img{
    margin: 10px 5px 10px 10px;
    width: 140px;
}
.playlist > .playlist-video > p{
    margin: 10px;
    padding: 5px 0;
}
.main > .vid-play{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    padding: 0 10px;
}
.main > .vid-play > video{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px;
}
.main > .conts > #title{
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}
.main > .conts > #description{
    margin: 10px 10px 0 10px;
    padding: 8px 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Số dòng tối đa */
    line-clamp: 3;
    overflow: hidden;
}
.main > .conts > #description.expended{
    display: block;
}
#toggle-btn {
    color: #585858;
    cursor: pointer;
    font-weight: bold;
    margin: 0 0px 10px 20px;
    padding: 5px 10px;
    display: inline;
    background: none;
    border: none;
}
#toggle-btn:hover{
    text-decoration: underline;
}
@media(max-width: 768px){
    .container{
        flex-direction: column;
        padding: 10px 5%;
    }
    .main{
        flex: 1;
    }
    .playlist{
        flex: 1;
    }
}