*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.yt-dlp-container{
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
}
.yt-checked-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}
.yt-checked-info > img{
    border-radius: 10px;
}
.ytcheck{
    padding: 10px;
    border: 1px solid black;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.ytlink{
    width: 100%;
    padding: 5px 10px;
}
.ytcheck > button {
    border: none;
    padding: 10px;
    background-color: rgb(43, 207, 2);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.ytcheck > button:hover{
    background-color: rgb(36, 170, 2);
}
.yt-return{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    display: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.yt-return:hover{
    background-color: rgb(197, 64, 64);
    color: white;
    font-weight: bold;
}
.ytresults{
    text-align: center;
    padding: 10px 0;
}
.errorreturn{
    width: 100%;
    padding: 10px;
    background-color: rgb(43, 207,2);
    border: none;
    font-weight: bold;
    color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.errorreturn:hover{
    background-color: rgb(36, 170, 2);
}
.ytdlp{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ytdlp > button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(43, 207, 2);
    color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}
.ytdlp > button:hover{
    background-color: rgb(36, 170, 2);
}
.ytdlpoption{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.ytdlpoption > label{
    flex: 1;
    text-align: start;
}
.ytdlpoption > select{
    flex: 2;
    padding: 5px 10px;
}
#progress{
    text-align: center;
}