* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quicksand Regular";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/Quicksand-Regular.woff") format("woff");
}

@font-face {
    font-family: "Quicksand Bold";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/Quicksand-Bold.woff") format("woff");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/Quicksand-Light.woff") format("woff");
}

@font-face {
    font-family: "Quicksand Medium";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/Quicksand-Medium.woff") format("woff");
}

@font-face {
    font-family: "Quicksand SemiBold";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/Quicksand-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "UVNVan_B";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/UVNVan_B.woff") format("woff");
}

@font-face {
    font-family: "UVNVan_R";
    src: url("/fonts/webfont_db7273f4bc1e475db6fd5541e6c5ca44/UVNVan_R.woff") format("woff");
}
body {
    font-family: 'Quicksand Regular';
    background-color: #f4f4f4;
}

.vid-player-container {
    width: 100%;
    display: flex;
    padding: 10px 8%;
    gap: 10px;
}

.vid-main-video {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vid-play {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.plyr {
    aspect-ratio: 16/9;
    border-radius: 10px;
}
.vid-watermark {
    position: absolute;
    display: block;
    z-index: 1000;
    width: 100%;
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 16/9;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.vid-main-watermark {
    position: absolute;
    bottom: 6%;
    right: 8%;
    width: 4%;
}

.vid-age-watermark {
    position: absolute;
    top: 6%;
    left: 8%;
    color: rgb(202, 202, 202);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(95, 95, 95);
}

.vid-main-info {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vid-description {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #f4f4f4;
}

.vid-playlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: auto;
}
.vid-playlist-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vid-playlist-thumbnail {
    width: 30%;
    border-radius: 10px;
}
.vid-playlist-main-title {
    font-weight: bold;
}
video::cue{
    font-weight: bold;
}
.vid-playlist-title {
    width: 100%;
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px 10px;
}

.plyr--fullscreen .vid-watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    pointer-events: none;
}
@media (max-width: 950px) {
    .vid-player-container {
        flex-direction: column;
    }

    .vid-main-video {
        width: 100%;
    }

    .vid-playlist {
        width: 100%;
    }

}
@media (max-width: 500px) {
    .vid-player-container{
        padding: 10px;
    }
}